*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 1%;
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width:900px){
    body{
        margin: 2%;
    }
}
/* Container class for flex */
.container{
    display: flex;
    flex-wrap:wrap;
    text-align:center;
}

/* Header style */
header{
    background-image:linear-gradient(
        rgba(255, 255, 255, 0.3), 
        rgba(255, 255, 255, 0.3)
      ), url("./assets/andrew-ridley-76547-unsplash.jpg");
    
    background-size: cover;
    height: 50vh;
    clip-path: polygon(0 0,100% 0 ,100% 70%, 50% 99% , 0 70%);
    position: relative;
}

nav{
    margin: 6px;
}

h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #430e44;
    padding: 2px 4px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:475px){
    h1{
        font-size: 25px;
    }
}

@media screen and (min-width:1088px){
    h1{
        font-size: 40px;
    }
}

/* About Me section */
.about-me{
    background-color: #cbdde1;
    height: 80vh;
    margin-top: -20vh;
    padding-top: 20vh;
    flex-flow: column;
    color: #402f41;

}
.picture{
    width: 50%;
}

.picture img{
    height: 300px;
    display:block;
    margin:auto;
    border-radius: 3px;
}