*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 1%;
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width:900px){
    body{
        margin: 2%;
    }
}

header{
    background-image:linear-gradient(
        rgba(255, 255, 255, 0.3), 
        rgba(255, 255, 255, 0.3)
      ), url("./assets/andrew-ridley-76547-unsplash.jpg");
    
    background-size: cover;
    height: 50vh;
    clip-path: polygon(0 0,100% 0 ,100% 70%, 50% 99% , 0 70%);
    position: relative;
}

nav{
    margin: 6px;
}

h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #430e44;
    padding: 2px 4px;
}